body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #343a40;
}

.carousel-item img {
    height: 200px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
